/*
 * GmodStore
 * Welcome to the Gmodstore API! You can use our API to access Gmodstore API endpoints, which can be used interact with Gmodstore programmatically.
 *
 * OpenAPI spec version: 1.0.1
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package no.everyday.gmodstore_sdk.api;

import no.everyday.gmodstore_sdk.ApiCallback;
import no.everyday.gmodstore_sdk.ApiClient;
import no.everyday.gmodstore_sdk.ApiException;
import no.everyday.gmodstore_sdk.ApiResponse;
import no.everyday.gmodstore_sdk.Configuration;
import no.everyday.gmodstore_sdk.Pair;
import no.everyday.gmodstore_sdk.ProgressRequestBody;
import no.everyday.gmodstore_sdk.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import no.everyday.gmodstore_sdk.model.Addon;
import no.everyday.gmodstore_sdk.model.AddonDownloadResponse;
import no.everyday.gmodstore_sdk.model.AddonVersionListResponse;
import no.everyday.gmodstore_sdk.model.AddonVersionReleaseType;
import no.everyday.gmodstore_sdk.model.AddonVersionResponse;
import no.everyday.gmodstore_sdk.model.ErrorResponse;
import java.io.File;
import org.threeten.bp.OffsetDateTime;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AddonVersionsApi {
    private ApiClient apiClient;

    public AddonVersionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AddonVersionsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for createAddonVersion
     * @param name  (required)
     * @param changelog  (required)
     * @param file  (required)
     * @param releaseType  (required)
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call createAddonVersionCall(String name, String changelog, File file, AddonVersionReleaseType releaseType, Long addonId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/addons/{addon_id}/versions"
            .replaceAll("\\{" + "addon_id" + "\\}", apiClient.escapeString(addonId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (with != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "with", with));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (name != null)
        localVarFormParams.put("name", name);
        if (changelog != null)
        localVarFormParams.put("changelog", changelog);
        if (file != null)
        localVarFormParams.put("file", file);
        if (releaseType != null)
        localVarFormParams.put("release_type", releaseType);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call createAddonVersionValidateBeforeCall(String name, String changelog, File file, AddonVersionReleaseType releaseType, Long addonId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling createAddonVersion(Async)");
        }
        // verify the required parameter 'changelog' is set
        if (changelog == null) {
            throw new ApiException("Missing the required parameter 'changelog' when calling createAddonVersion(Async)");
        }
        // verify the required parameter 'file' is set
        if (file == null) {
            throw new ApiException("Missing the required parameter 'file' when calling createAddonVersion(Async)");
        }
        // verify the required parameter 'releaseType' is set
        if (releaseType == null) {
            throw new ApiException("Missing the required parameter 'releaseType' when calling createAddonVersion(Async)");
        }
        // verify the required parameter 'addonId' is set
        if (addonId == null) {
            throw new ApiException("Missing the required parameter 'addonId' when calling createAddonVersion(Async)");
        }
        
        com.squareup.okhttp.Call call = createAddonVersionCall(name, changelog, file, releaseType, addonId, with, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Create a new version for an addon
     * 
     * @param name  (required)
     * @param changelog  (required)
     * @param file  (required)
     * @param releaseType  (required)
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return AddonVersionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AddonVersionResponse createAddonVersion(String name, String changelog, File file, AddonVersionReleaseType releaseType, Long addonId, List<String> with) throws ApiException {
        ApiResponse<AddonVersionResponse> resp = createAddonVersionWithHttpInfo(name, changelog, file, releaseType, addonId, with);
        return resp.getData();
    }

    /**
     * Create a new version for an addon
     * 
     * @param name  (required)
     * @param changelog  (required)
     * @param file  (required)
     * @param releaseType  (required)
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return ApiResponse&lt;AddonVersionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AddonVersionResponse> createAddonVersionWithHttpInfo(String name, String changelog, File file, AddonVersionReleaseType releaseType, Long addonId, List<String> with) throws ApiException {
        com.squareup.okhttp.Call call = createAddonVersionValidateBeforeCall(name, changelog, file, releaseType, addonId, with, null, null);
        Type localVarReturnType = new TypeToken<AddonVersionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Create a new version for an addon (asynchronously)
     * 
     * @param name  (required)
     * @param changelog  (required)
     * @param file  (required)
     * @param releaseType  (required)
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call createAddonVersionAsync(String name, String changelog, File file, AddonVersionReleaseType releaseType, Long addonId, List<String> with, final ApiCallback<AddonVersionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = createAddonVersionValidateBeforeCall(name, changelog, file, releaseType, addonId, with, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AddonVersionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for downloadAddonVersion
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call downloadAddonVersionCall(Long addonId, Long versionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/addons/{addon_id}/versions/{version_id}/download"
            .replaceAll("\\{" + "addon_id" + "\\}", apiClient.escapeString(addonId.toString()))
            .replaceAll("\\{" + "version_id" + "\\}", apiClient.escapeString(versionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call downloadAddonVersionValidateBeforeCall(Long addonId, Long versionId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'addonId' is set
        if (addonId == null) {
            throw new ApiException("Missing the required parameter 'addonId' when calling downloadAddonVersion(Async)");
        }
        // verify the required parameter 'versionId' is set
        if (versionId == null) {
            throw new ApiException("Missing the required parameter 'versionId' when calling downloadAddonVersion(Async)");
        }
        
        com.squareup.okhttp.Call call = downloadAddonVersionCall(addonId, versionId, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Generate a download token for a specific version of an addon
     * 
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @return AddonDownloadResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AddonDownloadResponse downloadAddonVersion(Long addonId, Long versionId) throws ApiException {
        ApiResponse<AddonDownloadResponse> resp = downloadAddonVersionWithHttpInfo(addonId, versionId);
        return resp.getData();
    }

    /**
     * Generate a download token for a specific version of an addon
     * 
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @return ApiResponse&lt;AddonDownloadResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AddonDownloadResponse> downloadAddonVersionWithHttpInfo(Long addonId, Long versionId) throws ApiException {
        com.squareup.okhttp.Call call = downloadAddonVersionValidateBeforeCall(addonId, versionId, null, null);
        Type localVarReturnType = new TypeToken<AddonDownloadResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Generate a download token for a specific version of an addon (asynchronously)
     * 
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call downloadAddonVersionAsync(Long addonId, Long versionId, final ApiCallback<AddonDownloadResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = downloadAddonVersionValidateBeforeCall(addonId, versionId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AddonDownloadResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getAddonVersion
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAddonVersionCall(Long addonId, Long versionId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/addons/{addon_id}/versions/{version_id}"
            .replaceAll("\\{" + "addon_id" + "\\}", apiClient.escapeString(addonId.toString()))
            .replaceAll("\\{" + "version_id" + "\\}", apiClient.escapeString(versionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (with != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "with", with));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAddonVersionValidateBeforeCall(Long addonId, Long versionId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'addonId' is set
        if (addonId == null) {
            throw new ApiException("Missing the required parameter 'addonId' when calling getAddonVersion(Async)");
        }
        // verify the required parameter 'versionId' is set
        if (versionId == null) {
            throw new ApiException("Missing the required parameter 'versionId' when calling getAddonVersion(Async)");
        }
        
        com.squareup.okhttp.Call call = getAddonVersionCall(addonId, versionId, with, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Fetch a specific version of an addon
     * 
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return AddonVersionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AddonVersionResponse getAddonVersion(Long addonId, Long versionId, List<String> with) throws ApiException {
        ApiResponse<AddonVersionResponse> resp = getAddonVersionWithHttpInfo(addonId, versionId, with);
        return resp.getData();
    }

    /**
     * Fetch a specific version of an addon
     * 
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return ApiResponse&lt;AddonVersionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AddonVersionResponse> getAddonVersionWithHttpInfo(Long addonId, Long versionId, List<String> with) throws ApiException {
        com.squareup.okhttp.Call call = getAddonVersionValidateBeforeCall(addonId, versionId, with, null, null);
        Type localVarReturnType = new TypeToken<AddonVersionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Fetch a specific version of an addon (asynchronously)
     * 
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAddonVersionAsync(Long addonId, Long versionId, List<String> with, final ApiCallback<AddonVersionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAddonVersionValidateBeforeCall(addonId, versionId, with, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AddonVersionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for listAddonVersions
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call listAddonVersionsCall(Long addonId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/addons/{addon_id}/versions"
            .replaceAll("\\{" + "addon_id" + "\\}", apiClient.escapeString(addonId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (with != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "with", with));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call listAddonVersionsValidateBeforeCall(Long addonId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'addonId' is set
        if (addonId == null) {
            throw new ApiException("Missing the required parameter 'addonId' when calling listAddonVersions(Async)");
        }
        
        com.squareup.okhttp.Call call = listAddonVersionsCall(addonId, with, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Fetch all the versions of an addon
     * 
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return AddonVersionListResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AddonVersionListResponse listAddonVersions(Long addonId, List<String> with) throws ApiException {
        ApiResponse<AddonVersionListResponse> resp = listAddonVersionsWithHttpInfo(addonId, with);
        return resp.getData();
    }

    /**
     * Fetch all the versions of an addon
     * 
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return ApiResponse&lt;AddonVersionListResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AddonVersionListResponse> listAddonVersionsWithHttpInfo(Long addonId, List<String> with) throws ApiException {
        com.squareup.okhttp.Call call = listAddonVersionsValidateBeforeCall(addonId, with, null, null);
        Type localVarReturnType = new TypeToken<AddonVersionListResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Fetch all the versions of an addon (asynchronously)
     * 
     * @param addonId Id of the addon (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call listAddonVersionsAsync(Long addonId, List<String> with, final ApiCallback<AddonVersionListResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = listAddonVersionsValidateBeforeCall(addonId, with, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AddonVersionListResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for updateAddonVersion
     * @param id  (required)
     * @param name  (required)
     * @param changelog  (required)
     * @param fileHash  (required)
     * @param fileSize  (required)
     * @param releaseType  (required)
     * @param createdAt  (required)
     * @param updatedAt  (required)
     * @param addon  (required)
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call updateAddonVersionCall(Integer id, String name, String changelog, String fileHash, Integer fileSize, AddonVersionReleaseType releaseType, OffsetDateTime createdAt, OffsetDateTime updatedAt, Addon addon, Long addonId, Long versionId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/addons/{addon_id}/versions/{version_id}"
            .replaceAll("\\{" + "addon_id" + "\\}", apiClient.escapeString(addonId.toString()))
            .replaceAll("\\{" + "version_id" + "\\}", apiClient.escapeString(versionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (with != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "with", with));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();
        if (id != null)
        localVarFormParams.put("id", id);
        if (name != null)
        localVarFormParams.put("name", name);
        if (changelog != null)
        localVarFormParams.put("changelog", changelog);
        if (fileHash != null)
        localVarFormParams.put("file_hash", fileHash);
        if (fileSize != null)
        localVarFormParams.put("file_size", fileSize);
        if (releaseType != null)
        localVarFormParams.put("release_type", releaseType);
        if (createdAt != null)
        localVarFormParams.put("created_at", createdAt);
        if (updatedAt != null)
        localVarFormParams.put("updated_at", updatedAt);
        if (addon != null)
        localVarFormParams.put("addon", addon);

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "multipart/form-data"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "bearerAuth" };
        return apiClient.buildCall(localVarPath, "PUT", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call updateAddonVersionValidateBeforeCall(Integer id, String name, String changelog, String fileHash, Integer fileSize, AddonVersionReleaseType releaseType, OffsetDateTime createdAt, OffsetDateTime updatedAt, Addon addon, Long addonId, Long versionId, List<String> with, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'name' is set
        if (name == null) {
            throw new ApiException("Missing the required parameter 'name' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'changelog' is set
        if (changelog == null) {
            throw new ApiException("Missing the required parameter 'changelog' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'fileHash' is set
        if (fileHash == null) {
            throw new ApiException("Missing the required parameter 'fileHash' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'fileSize' is set
        if (fileSize == null) {
            throw new ApiException("Missing the required parameter 'fileSize' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'releaseType' is set
        if (releaseType == null) {
            throw new ApiException("Missing the required parameter 'releaseType' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'createdAt' is set
        if (createdAt == null) {
            throw new ApiException("Missing the required parameter 'createdAt' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'updatedAt' is set
        if (updatedAt == null) {
            throw new ApiException("Missing the required parameter 'updatedAt' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'addon' is set
        if (addon == null) {
            throw new ApiException("Missing the required parameter 'addon' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'addonId' is set
        if (addonId == null) {
            throw new ApiException("Missing the required parameter 'addonId' when calling updateAddonVersion(Async)");
        }
        // verify the required parameter 'versionId' is set
        if (versionId == null) {
            throw new ApiException("Missing the required parameter 'versionId' when calling updateAddonVersion(Async)");
        }
        
        com.squareup.okhttp.Call call = updateAddonVersionCall(id, name, changelog, fileHash, fileSize, releaseType, createdAt, updatedAt, addon, addonId, versionId, with, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Update a version of an addon
     * 
     * @param id  (required)
     * @param name  (required)
     * @param changelog  (required)
     * @param fileHash  (required)
     * @param fileSize  (required)
     * @param releaseType  (required)
     * @param createdAt  (required)
     * @param updatedAt  (required)
     * @param addon  (required)
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return AddonVersionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AddonVersionResponse updateAddonVersion(Integer id, String name, String changelog, String fileHash, Integer fileSize, AddonVersionReleaseType releaseType, OffsetDateTime createdAt, OffsetDateTime updatedAt, Addon addon, Long addonId, Long versionId, List<String> with) throws ApiException {
        ApiResponse<AddonVersionResponse> resp = updateAddonVersionWithHttpInfo(id, name, changelog, fileHash, fileSize, releaseType, createdAt, updatedAt, addon, addonId, versionId, with);
        return resp.getData();
    }

    /**
     * Update a version of an addon
     * 
     * @param id  (required)
     * @param name  (required)
     * @param changelog  (required)
     * @param fileHash  (required)
     * @param fileSize  (required)
     * @param releaseType  (required)
     * @param createdAt  (required)
     * @param updatedAt  (required)
     * @param addon  (required)
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @return ApiResponse&lt;AddonVersionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AddonVersionResponse> updateAddonVersionWithHttpInfo(Integer id, String name, String changelog, String fileHash, Integer fileSize, AddonVersionReleaseType releaseType, OffsetDateTime createdAt, OffsetDateTime updatedAt, Addon addon, Long addonId, Long versionId, List<String> with) throws ApiException {
        com.squareup.okhttp.Call call = updateAddonVersionValidateBeforeCall(id, name, changelog, fileHash, fileSize, releaseType, createdAt, updatedAt, addon, addonId, versionId, with, null, null);
        Type localVarReturnType = new TypeToken<AddonVersionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Update a version of an addon (asynchronously)
     * 
     * @param id  (required)
     * @param name  (required)
     * @param changelog  (required)
     * @param fileHash  (required)
     * @param fileSize  (required)
     * @param releaseType  (required)
     * @param createdAt  (required)
     * @param updatedAt  (required)
     * @param addon  (required)
     * @param addonId Id of the addon (required)
     * @param versionId Id of the version (required)
     * @param with The relations you want to fetch with the &#x60;AddonVersion&#x60; (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call updateAddonVersionAsync(Integer id, String name, String changelog, String fileHash, Integer fileSize, AddonVersionReleaseType releaseType, OffsetDateTime createdAt, OffsetDateTime updatedAt, Addon addon, Long addonId, Long versionId, List<String> with, final ApiCallback<AddonVersionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = updateAddonVersionValidateBeforeCall(id, name, changelog, fileHash, fileSize, releaseType, createdAt, updatedAt, addon, addonId, versionId, with, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AddonVersionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
