openapi: 3.0.2
info:
  description: |-
    Welcome to the GmodStore API! You can use our API to access GmodStore API endpoints, which can be used interact with GmodStore programmatically.

    # Rate limits
    Every request you make to the GmodStore API will count against your rate limit, which at the time of writing this, is 60 requests / minute.
    An up-to-date value will always provided in the `X-RateLimit-Limit` header
    The number of requests you have remaining before you must wait is provided in the `X-RateLimit-Remaining` header.

    # API SDKs
    For a list of available API SDKs check the README here: https://github.com/everyday-as/gmodstore-api-docs#client-libraries
  title: gmodstore
  version: 3.0.0
  x-logo:
    url: https://media.gmodstore.com/_/assets/img/gmodstore/logo.svg
    backgroundColor: '#3097d1'
    href: https://www.gmodstore.com
servers:
- description: The main GmodStore API endpoint
  url: https://www.gmodstore.com
security:
- PersonalAccessToken: []
tags:
- name: Personal Access Tokens
- name: Products
- name: Product Coupons
- name: Product Purchases
- name: Product Reviews
- name: Product Versions
- name: Permission Groups
- name: Teams
- name: Team Users
- name: Users
- name: User Badges
- name: User Bans
- name: User Product Purchases
- name: User Products
- name: User Teams
paths:
  /api/v3/me:
    get:
      operationId: getMe
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMeResponse'
          description: Successful response containing the authenticated user and their
            access token
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      summary: Fetch the current authenticated user and their access token
      tags:
      - Users
      x-internal: true
      x-accepts: application/json
  /api/v3/me/personal-access-tokens:
    get:
      operationId: listPersonalAccessTokens
      parameters:
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 24
          description: The number of items to return per page
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The cursor from which to return paginated results starting after
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/PersonalAccessToken'
                      type: array
                  required:
                  - data
                  type: object
                - $ref: '#/components/schemas/ConnectionPaginated'
                title: ListPersonalAccessTokensResponse
          description: Successful response containing a list of personal access tokens
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - personal-access-tokens:read
      summary: List all the current user's personal access tokens
      tags:
      - Personal Access Tokens
      x-internal: true
      x-accepts: application/json
    post:
      operationId: createPersonalAccessToken
      requestBody:
        $ref: '#/components/requestBodies/NewPersonalAccessTokenPayload'
        content:
          application/json:
            schema:
              example:
                abilities:
                - permission-groups:read
                - permission-groups:read
                name: name
                expiresAt: 2000-01-23T04:56:07.000+00:00
              properties:
                name:
                  maxLength: 100
                  minLength: 3
                  type: string
                expiresAt:
                  format: date-time
                  nullable: true
                  type: string
                abilities:
                  items:
                    enum:
                    - permission-groups:read
                    - permission-groups:write
                    - personal-access-tokens:read
                    - personal-access-tokens:write
                    - teams:read
                    - teams:write
                    - team-users:read
                    - team-users:write
                    - products:read
                    - products:write
                    - product-coupons:read
                    - product-coupons:write
                    - product-purchases:read
                    - product-purchases:write
                    - product-reviews:read
                    - product-reviews:write
                    - product-versions:read
                    - product-versions:write
                    - product-versions:download
                    - users:read
                    - users:write
                    - user-badges:read
                    - user-badges:write
                    - user-bans:read
                    - user-purchases:read
                    - '*'
                    type: string
                  type: array
                  uniqueItems: true
              required:
              - abilities
              - name
              title: NewPersonalAccessTokenPayload
              type: object
        description: Payload to create a new personal access token
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_201'
          description: Successful response containing the newly created personal access
            token, along with the plain text token
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - personal-access-tokens:write
      summary: Create a new personal access token for the current user
      tags:
      - Personal Access Tokens
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/me/personal-access-tokens/{personal_access_token}:
    delete:
      operationId: deletePersonalAccessToken
      parameters:
      - explode: false
        in: path
        name: personal_access_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTeamResponse'
          description: Successful response containing the team that was just deleted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - personal-access-tokens:write
      summary: Delete the specified personal access token
      tags:
      - Personal Access Tokens
      x-internal: true
      x-accepts: application/json
    get:
      operationId: getPersonalAccessToken
      parameters:
      - explode: false
        in: path
        name: personal_access_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPersonalAccessTokenResponse'
          description: Successful response containing a single personal access token
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - personal-access-tokens:read
      summary: Get a personal access token belonging to the current user
      tags:
      - Personal Access Tokens
      x-internal: true
      x-accepts: application/json
    put:
      operationId: updatePersonalAccessToken
      parameters:
      - explode: false
        in: path
        name: personal_access_token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePersonalAccessTokenResponse'
          description: Successful response containing the personal access token with
            changes applied
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - personal-access-tokens:write
      summary: Update a personal access token
      tags:
      - Personal Access Tokens
      x-internal: true
      x-accepts: application/json
  /api/v3/permission-groups:
    get:
      operationId: listPermissionGroups
      parameters:
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 24
          description: The number of items to return per page
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The cursor from which to return paginated results starting after
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/PermissionGroup'
                      type: array
                  required:
                  - data
                  type: object
                - $ref: '#/components/schemas/ConnectionPaginated'
                title: ListPermissionGroupsResponse
          description: Successful response containing a list of permission groups
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - permission-groups:read
      summary: List all permission groups
      tags:
      - Permission Groups
      x-internal: true
      x-accepts: application/json
    post:
      operationId: createPermissionGroup
      requestBody:
        $ref: '#/components/requestBodies/NewPermissionGroupPayload'
        content:
          application/json:
            schema:
              example:
                permissions: permissions
                title: title
              properties:
                title:
                  maxLength: 100
                  minLength: 3
                  type: string
                permissions:
                  format: json
                  type: string
              required:
              - permissions
              - title
              title: NewPermissionGroupPayload
              type: object
        description: Payload to create a new permission group
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatePermissionGroupResponse'
          description: Successful response containing the newly created permission
            group
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - permission-groups:write
      summary: Create a permission group
      tags:
      - Permission Groups
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/permission-groups/{permission_group}:
    delete:
      operationId: deletePermissionGroup
      parameters:
      - explode: false
        in: path
        name: permission_group
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePermissionGroupResponse'
          description: Successful response containing the permission group that was
            just deleted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - permission-groups:write
      summary: Delete the specified permission group
      tags:
      - Permission Groups
      x-internal: true
      x-accepts: application/json
    get:
      operationId: getPermissionGroup
      parameters:
      - explode: false
        in: path
        name: permission_group
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPermissionGroupResponse'
          description: Successful response containing a single permission group
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - permission-groups:read
      summary: Show the specified permission group
      tags:
      - Permission Groups
      x-internal: true
      x-accepts: application/json
    put:
      operationId: updatePermissionGroup
      parameters:
      - explode: false
        in: path
        name: permission_group
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdatePermissionGroupPayload'
        content:
          application/json:
            schema:
              example:
                permissions: permissions
                title: title
              properties:
                title:
                  maxLength: 100
                  minLength: 3
                  type: string
                permissions:
                  format: json
                  type: string
              title: UpdatePermissionGroupPayload
              type: object
        description: Payload to update an existing permission group
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePermissionGroupResponse'
          description: Successful response containing the permission group with changes
            applied
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - permission-groups:write
      summary: Update the specified permission group
      tags:
      - Permission Groups
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/teams/batch:
    get:
      operationId: getTeams
      parameters:
      - explode: true
        in: query
        name: ids[]
        required: true
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTeamsResponse'
          description: Successful response containing the requested batch of teams
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - teams:read
      summary: Fetch a batch of teams by id
      tags:
      - Teams
      x-internal: true
      x-accepts: application/json
  /api/v3/teams:
    get:
      operationId: listTeams
      parameters:
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 24
          description: The number of items to return per page
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The cursor from which to return paginated results starting after
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/Team'
                      type: array
                  required:
                  - data
                  type: object
                - $ref: '#/components/schemas/ConnectionPaginated'
                title: ListTeamsResponse
          description: Successful response containing a list of teams
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - teams:read
      summary: List all teams
      tags:
      - Teams
      x-internal: true
      x-accepts: application/json
    post:
      operationId: createTeam
      requestBody:
        $ref: '#/components/requestBodies/NewTeamPayload'
        content:
          application/json:
            schema:
              example:
                name: name
                description: description
              properties:
                name:
                  maxLength: 50
                  minLength: 3
                  type: string
                description:
                  format: json
                  type: string
              required:
              - name
              title: NewTeamPayload
              type: object
        description: Payload to create a new team
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTeamResponse'
          description: Successful response containing the newly created team
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - teams:write
      summary: Create a new team
      tags:
      - Teams
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/teams/{team}:
    delete:
      operationId: deleteTeam
      parameters:
      - explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTeamResponse'
          description: Successful response containing the team that was just deleted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - teams:write
      summary: Delete the specified team
      tags:
      - Teams
      x-internal: true
      x-accepts: application/json
    get:
      operationId: getTeam
      parameters:
      - explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTeamResponse'
          description: Successful response containing a single team
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - teams:read
      summary: Fetch the specified team
      tags:
      - Teams
      x-internal: true
      x-accepts: application/json
    put:
      operationId: updateTeam
      parameters:
      - explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateTeamPayload'
        content:
          application/json:
            schema:
              example:
                name: name
                description: description
              properties:
                name:
                  maxLength: 50
                  minLength: 3
                  type: string
                description:
                  format: json
                  type: string
              title: UpdateTeamPayload
              type: object
        description: Payload to update an existing team
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTeamResponse'
          description: Successful response containing the team with changes applied
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - teams:write
      summary: Update the specified team
      tags:
      - Teams
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/teams/{team}/users:
    get:
      operationId: listTeamUsers
      parameters:
      - explode: false
        in: path
        name: team
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 24
          description: The number of items to return per page
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: The cursor from which to return paginated results starting after
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/TeamUser'
                      type: array
                  required:
                  - data
                  type: object
                - $ref: '#/components/schemas/ConnectionPaginated'
                title: ListTeamUsersResponse
          description: Successful response containing a list of team users
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - team-users:read
      summary: List all users in a team
      tags:
      - Team Users
      x-internal: true
      x-accepts: application/json
  /api/v3/products/batch:
    get:
      operationId: getProducts
      parameters:
      - explode: true
        in: query
        name: ids[]
        required: true
        schema:
          items:
            format: uuid
            type: string
          maxItems: 100
          type: array
        style: form
      - description: Filter the results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/ProductFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductsResponse'
          description: Successful response containing the requested batch of products
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - products:read
      summary: Get a batch of products by id
      tags:
      - Products
      x-internal: true
      x-accepts: application/json
  /api/v3/products/{product}/coupons:
    get:
      operationId: listProductCoupons
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 24
          description: The number of items to return per page
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The cursor from which to return paginated results starting after
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Filter the results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/ProductPurchaseFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ProductCoupon'
                      type: array
                  required:
                  - data
                  type: object
                - $ref: '#/components/schemas/ConnectionPaginated'
                title: ListProductCouponsResponse
          description: Successful response containing a list of product coupons
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-coupons:read
      summary: List all coupons for a product
      tags:
      - Product Coupons
      x-internal: true
      x-accepts: application/json
    post:
      operationId: createProductCoupon
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/NewProductCouponPayload'
        content:
          application/json:
            schema:
              example:
                maxUses: 60
                code: code
                percent: 8
                expiresAt: 2000-01-23T04:56:07.000+00:00
                boundUserId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              properties:
                percent:
                  maximum: 90
                  minimum: 1
                  type: integer
                code:
                  maxLength: 64
                  pattern: '[aA-zZ_\-0-9]+'
                  type: string
                maxUses:
                  maximum: 100
                  minimum: 1
                  type: integer
                expiresAt:
                  format: date-time
                  type: string
                boundUserId:
                  format: uuid
                  nullable: true
                  type: string
              required:
              - code
              - expiresAt
              - maxUses
              - percent
              title: NewProductCouponPayload
              type: object
        description: Payload to create a new product coupon
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductCouponResponse'
          description: Successful response containing the newly created product coupon
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-coupons:write
      summary: Create a coupon for a product
      tags:
      - Product Coupons
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/products/{product}/coupons/{coupon}:
    delete:
      operationId: deleteProductCoupon
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: coupon
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteProductCouponResponse'
          description: Successful response containing the product coupon that was
            just deleted
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-coupons:write
      summary: Delete the specified coupon for a product
      tags:
      - Product Coupons
      x-internal: true
      x-accepts: application/json
    get:
      operationId: getProductCoupon
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: coupon
        required: true
        schema:
          type: string
        style: simple
      - description: Filter the results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/ProductPurchaseFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductCouponResponse'
          description: Successful response containing a single product coupon
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-coupons:read
      summary: Show the specified coupon for a product
      tags:
      - Product Coupons
      x-internal: true
      x-accepts: application/json
    put:
      operationId: updateProductCoupon
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: coupon
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateProductCouponPayload'
        content:
          application/json:
            schema:
              example:
                maxUses: 60
                code: code
                percent: 8
                expiresAt: 2000-01-23T04:56:07.000+00:00
                boundUserId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              properties:
                percent:
                  maximum: 90
                  minimum: 1
                  type: integer
                code:
                  maxLength: 64
                  pattern: '[aA-zZ_\-0-9]+'
                  type: string
                maxUses:
                  maximum: 100
                  minimum: 1
                  type: integer
                expiresAt:
                  format: date-time
                  type: string
                boundUserId:
                  format: uuid
                  nullable: true
                  type: string
              title: UpdateProductCouponPayload
              type: object
        description: Payload to update an existing product coupon
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductCouponResponse'
          description: Successful response containing the product coupon with changes
            applied
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The requested resource does not exist
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-coupons:write
      summary: Update the specified coupon for a product
      tags:
      - Product Coupons
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/products/{product}/purchases:
    get:
      operationId: listProductPurchases
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 24
          description: The number of items to return per page
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The cursor from which to return paginated results starting after
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Filter the results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/ProductPurchaseFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ProductPurchase'
                      type: array
                  required:
                  - data
                  type: object
                - $ref: '#/components/schemas/ConnectionPaginated'
                title: ListProductPurchasesResponse
          description: Successful response containing a list of product purchases
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-purchases:read
      summary: List all purchases for a product
      tags:
      - Product Purchases
      x-internal: true
      x-accepts: application/json
    post:
      operationId: createProductPurchase
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/NewProductPurchasePayload'
        content:
          application/json:
            schema:
              example:
                userId: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
              properties:
                userId:
                  format: uuid
                  type: string
              required:
              - userId
              title: NewProductPurchasePayload
              type: object
        description: Payload to create a new product purchase
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateProductPurchaseResponse'
          description: Successful response containing the newly created product purchase
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-purchases:write
      summary: Create a purchase for a product
      tags:
      - Product Purchases
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/products/{product}/purchases/{purchase}:
    get:
      operationId: getProductPurchase
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: purchase
        required: true
        schema:
          type: string
        style: simple
      - description: Filter the results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/ProductPurchaseFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProductPurchaseResponse'
          description: Successful response containing a single product purchase
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-purchases:read
      summary: Show the specified purchase for a product
      tags:
      - Product Purchases
      x-internal: true
      x-accepts: application/json
    put:
      operationId: updateProductPurchase
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: purchase
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UpdateProductPurchasePayload'
        content:
          application/json:
            schema:
              example:
                revoked: true
              properties:
                revoked:
                  type: boolean
              title: UpdateProductPurchasePayload
              type: object
        description: Payload to update an existing product purchase
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateProductPurchaseResponse'
          description: Successful response containing the product purchase with changes
            applied
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "400":
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/ValidationErrors'
          description: Improperly formatted request passed
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token is missing or invalid
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The passed bearer token does not have the right scopes
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-Ratelimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-Ratelimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-Ratelimit-Reset'
      security:
      - PersonalAccessToken:
        - product-purchases:write
      summary: Update the specified purchase for a product
      tags:
      - Product Purchases
      x-internal: true
      x-contentType: application/json
      x-accepts: application/json
  /api/v3/products/{product}/reviews:
    get:
      operationId: listProductReviews
      parameters:
      - explode: false
        in: path
        name: product
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: perPage
        required: false
        schema:
          default: 24
          description: The number of items to return per page
          maximum: 100
          minimum: 1
          nullable: true
          type: integer
        style: form
      - description: The cursor from which to return paginated results starting after
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Filter the results
        explode: true
        in: query
        name: filter
        required: false
        schema:
          $ref: '#/components/schemas/ProductReviewFilter'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                - properties:
                    data:
                      items:
                        $ref: '#/components/schemas/ProductReview'
                      type: array
                  required:
                  - data
                  type: object
                - $ref: '#/components/schemas/ConnectionPaginated'
                title: ListProductReviewsResponse
          description: Successful response containing a list of product reviews
          headers:
            X-RateLimit-Limit:
[...]
