openapi: 3.0.1
info:
  description: Welcome to the Gmodstore API! You can use our API to access Gmodstore
    API endpoints, which can be used interact with Gmodstore programmatically.
  title: GmodStore
  version: 1.0.1
  x-logo:
    url: https://media.gmodstore.com/_/assets/img/gmodstore.svg
    backgroundColor: '#3097d1'
    href: https://www.gmodstore.com
servers:
- url: https://api.gmodstore.com/v2
security:
- bearerAuth: []
tags:
- description: Every request you make to the GmodStore API will count against your
    rate limit, which at the time of writing this, is 60 requests / minute. An up-to-date
    value will always provided in the `X-RateLimit-Limit` header. The number of requests
    you have remaining before you must wait is provided in the `X-RateLimit-Remaining`
    header.
  name: Rate limits
  x-traitTag: true
- description: 'For a list of available API SDKs check the README here: https://github.com/everyday-as/gmodstore-api-docs#client-libraries'
  name: API SDKs
  x-traitTag: true
- name: Addons
- name: Addon Coupons
- name: Addon Purchases
- name: Addon Reviews
- name: Addon Versions
- name: Addon Stats
- name: Teams
- name: Team Users
- name: Users
- name: User Addons
- name: User Purchases
- name: User Teams
- name: User Bans
- name: User Badges
paths:
  /addons:
    get:
      operationId: listSelfAddons
      parameters:
      - description: The relations you want to fetch with the `Addon`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - latest_version
            - team
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the addons that you have access to
      tags:
      - Addons
      x-accepts: application/json
  /addons/{addon_id}:
    get:
      operationId: getAddon
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `Addon`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - latest_version
            - team
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch a single addon
      tags:
      - Addons
      x-accepts: application/json
  /addons/{addon_id}/stats:
    get:
      operationId: getAddonStats
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonStatsListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the stats for an addon
      tags:
      - Addon Stats
      x-accepts: application/json
  /addons/{addon_id}/coupons:
    get:
      operationId: listAddonCoupons
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonCoupon`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonCouponListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the coupons for an addon
      tags:
      - Addon Coupons
      x-accepts: application/json
    post:
      operationId: createAddonCoupon
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonCoupon`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      requestBody:
        $ref: '#/components/requestBodies/CreateAddonCoupon'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonCouponResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Create an addon coupon
      tags:
      - Addon Coupons
      x-contentType: application/json
      x-accepts: application/json
  /addons/{addon_id}/coupons/{coupon_id}:
    delete:
      operationId: deleteAddonCoupon
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the coupon
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Destroy an addon's coupon
      tags:
      - Addon Coupons
      x-accepts: application/json
    get:
      operationId: getAddonCoupon
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the coupon
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonCoupon`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonCouponResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch an addon's coupon
      tags:
      - Addon Coupons
      x-accepts: application/json
    put:
      operationId: updateAddonCoupon
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the coupon
        explode: false
        in: path
        name: coupon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonCoupon`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      requestBody:
        $ref: '#/components/requestBodies/UpdateAddonCoupon'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonCouponResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Update an addon's coupon
      tags:
      - Addon Coupons
      x-contentType: application/json
      x-accepts: application/json
  /addons/{addon_id}/purchases:
    get:
      operationId: listAddonPurchases
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonPurchase`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            - order_item
            - user
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPurchaseListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all purchases of an addon
      tags:
      - Addon Purchases
      x-accepts: application/json
    post:
      operationId: createAddonPurchase
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonPurchase`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            - order_item
            - user
            type: string
          type: array
          uniqueItems: true
        style: form
      requestBody:
        $ref: '#/components/requestBodies/CreateAddonPurchase'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPurchaseResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Create a purchase for an addon
      tags:
      - Addon Purchases
      x-contentType: application/json
      x-accepts: application/json
  /addons/{addon_id}/purchases/{user_id}:
    get:
      operationId: getAddonPurchase
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonPurchase`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            - order_item
            - user
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPurchaseResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Get a purchase of an addon by user
      tags:
      - Addon Purchases
      x-accepts: application/json
    put:
      operationId: updateAddonPurchase
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonPurchase`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            - order_item
            - user
            type: string
          type: array
          uniqueItems: true
        style: form
      requestBody:
        $ref: '#/components/requestBodies/UpdateAddonPurchase'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPurchaseResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Update a purchase for an addon
      tags:
      - Addon Purchases
      x-contentType: application/json
      x-accepts: application/json
  /addons/{addon_id}/reviews:
    get:
      operationId: listAddonReviews
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonReview`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            - author
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonReviewListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the reviews of an addon
      tags:
      - Addon Reviews
      x-accepts: application/json
  /addons/{addon_id}/reviews/{review_id}:
    get:
      operationId: getAddonReview
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the review
        explode: false
        in: path
        name: review_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonReview`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            - author
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonReviewResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch a review of an addon
      tags:
      - Addon Reviews
      x-accepts: application/json
  /addons/{addon_id}/versions:
    get:
      operationId: listAddonVersions
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonVersion`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonVersionListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the versions of an addon
      tags:
      - Addon Versions
      x-accepts: application/json
    post:
      operationId: createAddonVersion
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonVersion`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      requestBody:
        $ref: '#/components/requestBodies/CreateAddonVersion'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonVersionResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Create a new version for an addon
      tags:
      - Addon Versions
      x-contentType: multipart/form-data
      x-accepts: application/json
  /addons/{addon_id}/versions/{version_id}:
    get:
      operationId: getAddonVersion
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the version
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonVersion`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonVersionResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch a specific version of an addon
      tags:
      - Addon Versions
      x-accepts: application/json
    put:
      operationId: updateAddonVersion
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the version
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonVersion`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            type: string
          type: array
          uniqueItems: true
        style: form
      requestBody:
        $ref: '#/components/requestBodies/UpdateAddonVersion'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonVersionResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Update a version of an addon
      tags:
      - Addon Versions
      x-contentType: multipart/form-data
      x-accepts: application/json
  /addons/{addon_id}/versions/{version_id}/download:
    get:
      operationId: downloadAddonVersion
      parameters:
      - description: Id of the addon
        explode: false
        in: path
        name: addon_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the version
        explode: false
        in: path
        name: version_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonDownloadResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Generate a download token for a specific version of an addon
      tags:
      - Addon Versions
      x-accepts: application/json
  /teams/{team_id}:
    get:
      operationId: getTeam
      parameters:
      - description: Id of the team
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `Team`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - primaryAuthor
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch a single team
      tags:
      - Teams
      x-accepts: application/json
  /teams/{team_id}/users:
    get:
      operationId: listTeamUsers
      parameters:
      - description: Id of the team
        explode: false
        in: path
        name: team_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `TeamUser`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - user
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamUserListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the users in the given team
      tags:
      - Team Users
      x-accepts: application/json
  /users/me:
    get:
      operationId: getSelfUser
      parameters:
      - description: The relations you want to fetch with the `User`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - group
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetches the current user (API Key Owner)
      tags:
      - Users
      x-accepts: application/json
  /users/{user_id}:
    get:
      operationId: getUser
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `User`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - group
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch a single user
      tags:
      - Users
      x-accepts: application/json
  /users/{user_id}/addons:
    get:
      operationId: listUserAddons
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `Addon`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - latest_version
            - team
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the addons authored / co-authored by a user
      tags:
      - User Addons
      x-accepts: application/json
  /users/{user_id}/purchases:
    get:
      operationId: listUserPurchases
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `AddonPurchase`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - addon
            - order_item
            - user
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddonPurchaseListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all purchases a user has made
      tags:
      - User Purchases
      x-accepts: application/json
  /users/{user_id}/teams:
    get:
      operationId: listUserTeams
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: The relations you want to fetch with the `Team`
        explode: false
        in: query
        name: with
        required: false
        schema:
          items:
            enum:
            - primaryAuthor
            type: string
          type: array
          uniqueItems: true
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the teams of a user
      tags:
      - User Teams
      x-accepts: application/json
  /users/{user_id}/bans:
    get:
      operationId: listUserBans
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBanListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all active bans associated with this user
      tags:
      - User Bans
      x-accepts: application/json
  /users/{user_id}/badges:
    get:
      operationId: listUserBadges
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeListResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Fetch all the badges a user has
      tags:
      - User Badges
      x-accepts: application/json
    post:
      operationId: createUserBadge
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/CreateUserBadge'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeResponse'
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Too many requests
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
            X-RateLimit-Reset:
              description: The UNIX timestamp at which your rate limit quota will
                reset.
              explode: false
              schema:
                format: int64
                type: integer
              style: simple
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Give a user a badge
      tags:
      - User Badges
      x-contentType: application/json
      x-accepts: application/json
  /users/{user_id}/badges/{badge_id}:
    delete:
      operationId: deleteUserBadge
      parameters:
      - description: Id of the user
        explode: false
        in: path
        name: user_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Id of the badge
        explode: false
        in: path
        name: badge_id
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Successfully processed the request.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Something went wrong
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/xRateLimit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/xRateLimitRemaining'
      summary: Destroy a users's badge
      tags:
      - User Badges
      x-accepts: application/json
components:
  headers:
    xRateLimit:
      description: Request limit per minute.
      explode: false
      schema:
        default: 60
        type: integer
      style: simple
    xRateLimitRemaining:
      description: The number of requests left for the time window.
      explode: false
      schema:
        type: integer
      style: simple
  parameters:
    AddonId:
      description: Id of the addon
      explode: false
      in: path
      name: addon_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    CouponId:
      description: Id of the coupon
      explode: false
      in: path
      name: coupon_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    UserId:
      description: Id of the user
      explode: false
      in: path
      name: user_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    ReviewId:
      description: Id of the review
      explode: false
      in: path
      name: review_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    VersionId:
      description: Id of the version
      explode: false
      in: path
      name: version_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    TeamId:
      description: Id of the team
      explode: false
      in: path
      name: team_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    BadgeId:
      description: Id of the badge
      explode: false
      in: path
      name: badge_id
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    AddonRelation:
      description: The relations you want to fetch with the `Addon`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - latest_version
          - team
          type: string
        type: array
        uniqueItems: true
      style: form
    AddonCouponRelation:
      description: The relations you want to fetch with the `AddonCoupon`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - addon
          type: string
        type: array
        uniqueItems: true
      style: form
    AddonPurchaseRelation:
      description: The relations you want to fetch with the `AddonPurchase`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - addon
          - order_item
          - user
          type: string
        type: array
        uniqueItems: true
      style: form
    AddonReviewRelation:
      description: The relations you want to fetch with the `AddonReview`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - addon
          - author
          type: string
        type: array
        uniqueItems: true
      style: form
    AddonVersionRelation:
      description: The relations you want to fetch with the `AddonVersion`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - addon
          type: string
        type: array
        uniqueItems: true
      style: form
    TeamRelation:
      description: The relations you want to fetch with the `Team`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - primaryAuthor
          type: string
        type: array
        uniqueItems: true
      style: form
    TeamUserRelation:
      description: The relations you want to fetch with the `TeamUser`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - user
          type: string
        type: array
        uniqueItems: true
      style: form
    UserRelation:
      description: The relations you want to fetch with the `User`
      explode: false
      in: query
      name: with
      required: false
      schema:
        items:
          enum:
          - group
          type: string
        type: array
        uniqueItems: true
      style: form
  requestBodies:
    CreateAddonCoupon:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddonCoupon'
      required: true
    UpdateAddonCoupon:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddonCoupon'
      required: true
    CreateAddonPurchase:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NewAddonPurchase'
      required: true
    UpdateAddonPurchase:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AddonPurchase'
      required: true
    CreateAddonVersion:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/NewAddonVersion'
      required: true
    UpdateAddonVersion:
      content:
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/AddonVersion'
      required: true
    CreateUserBadge:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserBadge'
      required: true
  responses:
    Error:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Something went wrong
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/xRateLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/xRateLimitRemaining'
    TooManyRequests:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      description: Too many requests
      headers:
        X-RateLimit-Limit:
          $ref: '#/components/headers/xRateLimit'
        X-RateLimit-Remaining:
          $ref: '#/components/headers/xRateLimitRemaining'
        X-RateLimit-Reset:
          description: The UNIX timestamp at which your rate limit quota will reset.
          explode: false
          schema:
            format: int64
            type: integer
          style: simple
  schemas:
    Addon:
      example:
        short_description: short_description
        requirements:
        - requirements
        - requirements
        images:
          bigspot: https://openapi-generator.tech
          listing_small: https://openapi-generator.tech
          listing: https://openapi-generator.tech
        active: true
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        team:
          updated_at: 2000-01-23T04:56:07.000+00:00
          primaryAuthor:
            team_id: 5
            user:
              country_code: country_code
              name: name
              reputation: 7
              id: 2
              avatar: https://openapi-generator.tech
              slug: slug
              ban_properties:
              - everything
              - everything
              team_reputation: 9
              group:
                display_order: 2
                id: 3
                title: title
            primary: true
          name: name
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 5
        route: route
        updated_at: 2000-01-23T04:56:07.000+00:00
        latest_version:
          file_hash: file_hash
          updated_at: 2000-01-23T04:56:07.000+00:00
          name: name
          changelog: changelog
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 6
          file_size: 1
        price:
          original:
            amount: amount
            currency: currency
          purchase:
            amount: amount
            currency: currency
        name: name
        id: 0
        slug: slug
      properties:
        id:
          type: integer
        active:
          type: boolean
        name:
          type: string
        short_description:
          type: string
        description:
          type: string
        requirements:
          items:
            type: string
          type: array
        price:
          $ref: '#/components/schemas/Addon_price'
        images:
          $ref: '#/components/schemas/Addon_images'
        slug:
          readOnly: true
          type: string
        route:
          readOnly: true
          type: string
        created_at:
          format: date-time
          readOnly: true
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: string
        latest_version:
          $ref: '#/components/schemas/AddonVersion'
        team:
          $ref: '#/components/schemas/Team'
      readOnly: true
      type: object
    AddonCoupon:
      example:
        code: code
        expires_at: 2000-01-23T04:56:07.000+00:00
        max_uses: 1
        updated_at: 2000-01-23T04:56:07.000+00:00
        addon:
          short_description: short_description
          requirements:
          - requirements
          - requirements
          images:
            bigspot: https://openapi-generator.tech
            listing_small: https://openapi-generator.tech
            listing: https://openapi-generator.tech
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          team:
            updated_at: 2000-01-23T04:56:07.000+00:00
            primaryAuthor:
              team_id: 5
              user:
                country_code: country_code
                name: name
                reputation: 7
                id: 2
                avatar: https://openapi-generator.tech
                slug: slug
                ban_properties:
                - everything
                - everything
                team_reputation: 9
                group:
                  display_order: 2
                  id: 3
                  title: title
              primary: true
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 5
          route: route
          updated_at: 2000-01-23T04:56:07.000+00:00
          latest_version:
            file_hash: file_hash
            updated_at: 2000-01-23T04:56:07.000+00:00
            name: name
            changelog: changelog
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            file_size: 1
          price:
            original:
              amount: amount
              currency: currency
            purchase:
              amount: amount
              currency: currency
          name: name
          id: 0
          slug: slug
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 1
        percent: 60.06907059408995
      properties:
        id:
          minimum: 1
          readOnly: true
          type: integer
        code:
          type: string
        percent:
          maximum: 99
          minimum: 1
          type: number
        max_uses:
          minimum: 1
          type: integer
        expires_at:
          description: A future date less than 2 weeks from today
          format: date-time
          type: string
        created_at:
          format: date-time
          readOnly: true
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: string
        addon:
          $ref: '#/components/schemas/Addon'
      required:
      - code
      - expires_at
      - id
      - max_uses
      - percent
      type: object
    AddonStats:
      example:
        revenue:
          current:
            month:
              amount: amount
              currency: currency
            day:
              amount: amount
              currency: currency
          total:
            amount: amount
            currency: currency
          previous:
            month:
              amount: amount
              currency: currency
            day:
              amount: amount
              currency: currency
        views:
          current:
            month: month
            day: day
          previous:
            month: month
            day: day
        sales:
          current:
            week: week
            month: month
            day: day
      properties:
        revenue:
          $ref: '#/components/schemas/AddonStats_revenue'
        views:
          $ref: '#/components/schemas/AddonStats_views'
        sales:
          $ref: '#/components/schemas/AddonStats_sales'
      type: object
    AddonDownload:
      description: '**NOTE:** The url is valid for a single use within 24 hours **ONLY**!'
      example:
        url: http://example.com/aeiou
      properties:
        url:
          format: url
          type: string
      type: object
    AddonPurchase:
      example:
        updated_at: 0
        addon:
          short_description: short_description
          requirements:
          - requirements
          - requirements
          images:
            bigspot: https://openapi-generator.tech
            listing_small: https://openapi-generator.tech
            listing: https://openapi-generator.tech
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          team:
            updated_at: 2000-01-23T04:56:07.000+00:00
            primaryAuthor:
              team_id: 5
              user:
                country_code: country_code
                name: name
                reputation: 7
                id: 2
                avatar: https://openapi-generator.tech
                slug: slug
                ban_properties:
                - everything
                - everything
                team_reputation: 9
                group:
                  display_order: 2
                  id: 3
                  title: title
              primary: true
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 5
          route: route
          updated_at: 2000-01-23T04:56:07.000+00:00
          latest_version:
            file_hash: file_hash
            updated_at: 2000-01-23T04:56:07.000+00:00
            name: name
            changelog: changelog
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            file_size: 1
          price:
            original:
              amount: amount
              currency: currency
            purchase:
              amount: amount
              currency: currency
          name: name
          id: 0
          slug: slug
        order_item:
          reversed_at: 2000-01-23T04:56:07.000+00:00
          price:
            amount: amount
            currency: currency
          id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
        created_at: 2000-01-23T04:56:07.000+00:00
        revoked: true
        user:
          country_code: country_code
          name: name
          reputation: 7
          id: 2
          avatar: https://openapi-generator.tech
          slug: slug
          ban_properties:
          - everything
          - everything
          team_reputation: 9
          group:
            display_order: 2
            id: 3
            title: title
      properties:
        revoked:
          type: boolean
        created_at:
          format: date-time
          readOnly: true
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: integer
        addon:
          $ref: '#/components/schemas/Addon'
        order_item:
          $ref: '#/components/schemas/OrderItem'
        user:
          $ref: '#/components/schemas/User'
      required:
      - revoked
      type: object
    NewAddonPurchase:
      example:
        user_id: 0
      properties:
        user_id:
          format: int64
          type: integer
      required:
      - user_id
      type: object
    AddonReview:
      example:
        addon:
          short_description: short_description
          requirements:
          - requirements
          - requirements
          images:
            bigspot: https://openapi-generator.tech
            listing_small: https://openapi-generator.tech
            listing: https://openapi-generator.tech
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          team:
            updated_at: 2000-01-23T04:56:07.000+00:00
            primaryAuthor:
              team_id: 5
              user:
                country_code: country_code
                name: name
                reputation: 7
                id: 2
                avatar: https://openapi-generator.tech
                slug: slug
                ban_properties:
                - everything
                - everything
                team_reputation: 9
                group:
                  display_order: 2
                  id: 3
                  title: title
              primary: true
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 5
          route: route
          updated_at: 2000-01-23T04:56:07.000+00:00
          latest_version:
            file_hash: file_hash
            updated_at: 2000-01-23T04:56:07.000+00:00
            name: name
            changelog: changelog
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            file_size: 1
          price:
            original:
              amount: amount
              currency: currency
            purchase:
              amount: amount
              currency: currency
          name: name
          id: 0
          slug: slug
        author:
          country_code: country_code
          name: name
          reputation: 7
          id: 2
          avatar: https://openapi-generator.tech
          slug: slug
          ban_properties:
          - everything
          - everything
          team_reputation: 9
          group:
            display_order: 2
            id: 3
            title: title
        rating: 3.4109824732281613
        id: 0
        title: title
        body: body
        version: version
      properties:
        id:
          type: integer
        title:
          type: string
        version:
          type: string
        body:
          type: string
        rating:
          maximum: 5
          minimum: 1
          type: number
        addon:
          $ref: '#/components/schemas/Addon'
        author:
          $ref: '#/components/schemas/User'
      type: object
    AddonVersion:
      example:
        file_hash: file_hash
        updated_at: 2000-01-23T04:56:07.000+00:00
        name: name
        changelog: changelog
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 6
        file_size: 1
      properties:
        id:
          readOnly: true
          type: integer
        name:
          maxLength: 80
          minLength: 1
          type: string
        changelog:
          description: You can pass in markdown here
          maxLength: 10000
          minLength: 1
          type: string
        file_hash:
          readOnly: true
          type: string
        file_size:
          readOnly: true
          type: integer
        release_type:
          $ref: '#/components/schemas/AddonVersionReleaseType'
        created_at:
          format: date-time
          readOnly: true
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: string
        addon:
          $ref: '#/components/schemas/Addon'
      readOnly: true
      required:
      - changelog
      - name
      type: object
    NewAddonVersion:
      properties:
        name:
          maxLength: 80
          minLength: 1
          type: string
        changelog:
          description: You can pass in markdown here
          maxLength: 10000
          minLength: 1
          type: string
        file:
          format: binary
          type: string
        release_type:
          $ref: '#/components/schemas/AddonVersionReleaseType'
      required:
      - changelog
      - file
      - name
      type: object
    AddonVersionReleaseType:
      default: stable
      description: This can be a value of stable, beta, alpha, private or demo
      enum:
      - stable
      - beta
      - alpha
      - private
      - demo
      type: string
    PermissionGroup:
      example:
        display_order: 2
        id: 3
        title: title
      properties:
        id:
          type: integer
        title:
          type: string
        display_order:
          type: integer
      type: object
    OrderItem:
      example:
        reversed_at: 2000-01-23T04:56:07.000+00:00
        price:
          amount: amount
          currency: currency
        id: 046b6c7f-0b8a-43b9-b35d-6489e6daee91
      properties:
        id:
          format: uuid
          type: string
        price:
          $ref: '#/components/schemas/Money'
        reversed_at:
          format: date-time
          type: string
      readOnly: true
      type: object
    Money:
      example:
        amount: amount
        currency: currency
      properties:
        amount:
          description: Amount as a string specified in cents
          format: integer
          type: string
        currency:
          type: string
      type: object
    Team:
      example:
        updated_at: 2000-01-23T04:56:07.000+00:00
        primaryAuthor:
          team_id: 5
          user:
            country_code: country_code
            name: name
            reputation: 7
            id: 2
            avatar: https://openapi-generator.tech
            slug: slug
            ban_properties:
            - everything
            - everything
            team_reputation: 9
            group:
              display_order: 2
              id: 3
              title: title
          primary: true
        name: name
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 5
      properties:
        id:
          type: integer
        name:
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
        primaryAuthor:
          $ref: '#/components/schemas/TeamUser'
      readOnly: true
      type: object
    TeamUser:
      example:
        team_id: 5
        user:
          country_code: country_code
          name: name
          reputation: 7
          id: 2
          avatar: https://openapi-generator.tech
          slug: slug
          ban_properties:
          - everything
          - everything
          team_reputation: 9
          group:
            display_order: 2
            id: 3
            title: title
        primary: true
      properties:
        team_id:
          type: integer
        primary:
          type: boolean
        user:
          $ref: '#/components/schemas/User'
      type: object
    User:
      example:
        country_code: country_code
        name: name
        reputation: 7
        id: 2
        avatar: https://openapi-generator.tech
        slug: slug
        ban_properties:
        - everything
        - everything
        team_reputation: 9
        group:
          display_order: 2
          id: 3
          title: title
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        avatar:
          format: uri
          type: string
        country_code:
          type: string
        slug:
          type: string
        reputation:
          format: int64
          type: integer
        team_reputation:
          format: int64
          type: integer
        ban_properties:
          items:
            enum:
            - everything
            - addon.create
            - addon.purchase
            - addon.download
            - addon.review
            - addon.comment
            - job.create
            - job.apply
            - job.review
            - job.comment
            - ban.appeal
            type: string
          type: array
          uniqueItems: true
        group:
          $ref: '#/components/schemas/PermissionGroup'
      readOnly: true
      type: object
    UserBan:
      example:
        reason: reason
        user_id: 0
        start: 2000-01-23T04:56:07.000+00:00
        unban_reason: unban_reason
        end: 2000-01-23T04:56:07.000+00:00
        properties:
        - everything
        - everything
      properties:
        user_id:
          format: int64
          type: integer
        reason:
          type: string
        unban_reason:
          type: string
        properties:
          items:
            enum:
            - everything
            - addon.create
            - addon.purchase
            - addon.download
            - addon.review
            - addon.comment
            - job.create
            - job.apply
            - job.review
            - job.comment
            - ban.appeal
            type: string
          type: array
          uniqueItems: true
        start:
          format: date-time
          type: string
        end:
          format: date-time
          type: string
      type: object
    UserBanProperties:
      items:
        enum:
        - everything
        - addon.create
        - addon.purchase
        - addon.download
        - addon.review
        - addon.comment
        - job.create
        - job.apply
        - job.review
        - job.comment
        - ban.appeal
        type: string
      type: array
      uniqueItems: true
    UserBadgeLegend:
      example:
        ext: ext
        name: name
        description: description
        id: id
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        ext:
          type: string
      type: object
    Error:
      properties:
        message:
          type: string
      title: ErrorResponse
      type: object
    UserBadge:
      example:
        badge: badge
      properties:
        badge:
          type: string
      required:
      - badge
      type: object
    AddonListResponse:
      example:
        data:
        - short_description: short_description
          requirements:
          - requirements
          - requirements
          images:
            bigspot: https://openapi-generator.tech
            listing_small: https://openapi-generator.tech
            listing: https://openapi-generator.tech
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          team:
            updated_at: 2000-01-23T04:56:07.000+00:00
            primaryAuthor:
              team_id: 5
              user:
                country_code: country_code
                name: name
                reputation: 7
                id: 2
                avatar: https://openapi-generator.tech
                slug: slug
                ban_properties:
                - everything
                - everything
                team_reputation: 9
                group:
                  display_order: 2
                  id: 3
                  title: title
              primary: true
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 5
          route: route
          updated_at: 2000-01-23T04:56:07.000+00:00
          latest_version:
            file_hash: file_hash
            updated_at: 2000-01-23T04:56:07.000+00:00
            name: name
            changelog: changelog
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            file_size: 1
          price:
            original:
              amount: amount
              currency: currency
            purchase:
              amount: amount
              currency: currency
          name: name
          id: 0
          slug: slug
        - short_description: short_description
          requirements:
          - requirements
          - requirements
          images:
            bigspot: https://openapi-generator.tech
            listing_small: https://openapi-generator.tech
            listing: https://openapi-generator.tech
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          team:
            updated_at: 2000-01-23T04:56:07.000+00:00
            primaryAuthor:
              team_id: 5
              user:
                country_code: country_code
                name: name
                reputation: 7
                id: 2
                avatar: https://openapi-generator.tech
                slug: slug
                ban_properties:
                - everything
                - everything
                team_reputation: 9
                group:
                  display_order: 2
                  id: 3
                  title: title
              primary: true
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 5
          route: route
          updated_at: 2000-01-23T04:56:07.000+00:00
          latest_version:
            file_hash: file_hash
            updated_at: 2000-01-23T04:56:07.000+00:00
            name: name
            changelog: changelog
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            file_size: 1
          price:
            original:
              amount: amount
              currency: currency
            purchase:
              amount: amount
              currency: currency
          name: name
          id: 0
          slug: slug
      properties:
        data:
          items:
            $ref: '#/components/schemas/Addon'
          type: array
    ErrorResponse:
      properties:
        data:
          $ref: '#/components/schemas/Error'
    AddonResponse:
      example:
        data:
          short_description: short_description
          requirements:
          - requirements
          - requirements
          images:
            bigspot: https://openapi-generator.tech
            listing_small: https://openapi-generator.tech
            listing: https://openapi-generator.tech
          active: true
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          team:
            updated_at: 2000-01-23T04:56:07.000+00:00
            primaryAuthor:
              team_id: 5
              user:
                country_code: country_code
                name: name
                reputation: 7
                id: 2
                avatar: https://openapi-generator.tech
                slug: slug
                ban_properties:
                - everything
                - everything
                team_reputation: 9
                group:
                  display_order: 2
                  id: 3
                  title: title
              primary: true
            name: name
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 5
          route: route
          updated_at: 2000-01-23T04:56:07.000+00:00
          latest_version:
            file_hash: file_hash
            updated_at: 2000-01-23T04:56:07.000+00:00
            name: name
            changelog: changelog
            created_at: 2000-01-23T04:56:07.000+00:00
            id: 6
            file_size: 1
          price:
            original:
              amount: amount
              currency: currency
            purchase:
              amount: amount
              currency: currency
          name: name
          id: 0
          slug: slug
      properties:
        data:
          $ref: '#/components/schemas/Addon'
    AddonStatsListResponse:
      example:
        data:
        - revenue:
            current:
              month:
                amount: amount
                currency: currency
              day:
                amount: amount
                currency: currency
            total:
              amount: amount
              currency: currency
            previous:
              month:
                amount: amount
                currency: currency
              day:
                amount: amount
                currency: currency
          views:
            current:
[...]
